<div class="form-inline">
  <div class="form-group mb-2">
    <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    />
  </div>
</div>
<h3>Filtro: {{ filtroLista }}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button (click)="alternarImagem()" class="btn btn-outline-primary">
          <i
            class="{{ mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }} Imagem"
          ></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lotes</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          *ngIf="mostrarImagem"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem"
          src="http://localhost:5000/img/{{ evento.ImagemUrl }}"
        />
      </td>
      <td>{{ evento.Id }}</td>
      <td>{{ evento.Tema }}</td>
      <td>{{ evento.Local }}</td>
      <td>{{ evento.DataEvento | DateTimeFormatPipe }}</td>
      <td>{{ evento.QtdePessoas }}</td>
      <td>
        <div *ngIf="!evento.Lotes.length">
          Não informado
        </div>
        <div *ngIf="evento.Lotes.length">
          {{ evento.Lotes[0].Nome }}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" tooltip="Editar">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
