<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <input
        type="text"
        class="form-control mr-2"
        placeholder="buscar"
        [(ngModel)]="filtroLista"
      />
    </div>
  </div>

  <div>
    <button class="btn btn-outline-primary" (click)="novoEvento(template)">
      <i class="fa fa-plus-circle"></i>&nbsp; Novo Evento
    </button>
  </div>
</div>

<h3>Filtro: {{ filtroLista }}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button (click)="alternarImagem()" class="btn btn-outline-primary">
          <i
            class="{{ mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye' }} Imagem"
          ></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lotes</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img
          *ngIf="mostrarImagem"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem"
          src="http://localhost:5000/img/{{ evento.ImagemUrl }}"
        />
      </td>
      <td>{{ evento.Id }}</td>
      <td>{{ evento.Tema }}</td>
      <td>{{ evento.Local }}</td>
      <td>{{ evento.DataEvento }}</td>
      <td>{{ evento.QtdePessoas }}</td>
      <td>
        <div *ngIf="!evento.Lotes.length">
          Não informado
        </div>
        <div *ngIf="evento.Lotes.length">
          {{ evento.Lotes[0].Nome }}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button
            class="btn btn-sm btn-success"
            tooltip="Editar"
            (click)="editarEvento(template, evento)"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            class="btn btn-sm btn-danger"
            (click)="excluirEvento(evento, confirm)"
            tooltip="Excluir"
          >
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div
  bsModal
  #template="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Novo Evento
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="template.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('Tema').errors &&
                    registerForm.get('Tema').touched
                }"
                formControlName="Tema"
                placeholder="Insira o Tema"
              />
              <div
                *ngIf="
                  registerForm.get('Tema').hasError('required') &&
                  registerForm.get('Tema').touched
                "
                class="invalid-feedback"
              >
                Tema é obrigatório
              </div>
              <div
                *ngIf="
                  registerForm.get('Tema').hasError('minlength') &&
                  registerForm.get('Tema').touched
                "
                class="invalid-feedback"
              >
                Tema deve ter no mínimo 4 caracteres
              </div>
              <div
                *ngIf="
                  registerForm.get('Tema').hasError('maxlength') &&
                  registerForm.get('Tema').touched
                "
                class="invalid-feedback"
              >
                Tema deve ter no maximo 50 caracteres
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('Local').errors &&
                    registerForm.get('Local').touched
                }"
                formControlName="Local"
                placeholder="Insira o Local"
              />
              <div class="invalid-feedback">
                Local é obrigatório
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input
                type="text"
                class="form-control"
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:mm a' }"
                formControlName="DataEvento"
                placeholder="Insira a data"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('DataEvento').errors &&
                    registerForm.get('DataEvento').touched
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('DataEvento').hasError('required') &&
                  registerForm.get('DataEvento').touched
                "
              >
                Data é obrigatório
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('QtdePessoas').errors &&
                    registerForm.get('QtdePessoas').touched
                }"
                formControlName="QtdePessoas"
                placeholder="Insira a quantidade"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('QtdePessoas').hasError('required') &&
                  registerForm.get('QtdePessoas').touched
                "
              >
                Quantidade é obrigatório
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('QtdePessoas').hasError('max') &&
                  registerForm.get('QtdePessoas').touched
                "
              >
                Quantidade máxima são 120 pessoas
              </div>

              <div
                *ngIf="
                  registerForm.get('QtdePessoas').hasError('min') &&
                  registerForm.get('QtdePessoas').touched
                "
                class="invalid-feedback"
              >
                Quantidade mínima é uma pessoa
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <input
                type="text"
                class="form-control"
                formControlName="ImagemUrl"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('ImagemUrl').errors &&
                    registerForm.get('ImagemUrl').touched
                }"
                placeholder="Insira o nome da imagem"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('ImagemUrl').hasError('required') &&
                  registerForm.get('ImagemUrl').touched
                "
              >
                Imagem é obrigatório
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input
                type="text"
                class="form-control"
                formControlName="Telefone"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('Telefone').errors &&
                    registerForm.get('Telefone').touched
                }"
                placeholder="Insira o Telefone"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('Telefone').hasError('required') &&
                  registerForm.get('Telefone').touched
                "
              >
                Telefone é obrigatório
              </div>
            </div>
            <div class="form-group col-md-8">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="Email"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('Email').errors &&
                    registerForm.get('Email').touched
                }"
                placeholder="Insira o Email"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('Email').hasError('required') &&
                  registerForm.get('Email').touched
                "
              >
                Email é obrigatório
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.get('Email').hasError('email') &&
                  registerForm.get('Email').touched
                "
              >
                Email deve ser válido
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>

        <button
          class="btn btn-primary ml-auto"
          [disabled]="!registerForm.valid"
          (click)="salvarAlteracao(template)"
        >
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Deletando Evento
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="confirm.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ bodyDeletarEvento }}
        </p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="confirm.hide()"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="confirmarDelete(confirm)"
        >
          Deletar
        </button>
      </div>
    </div>
  </div>
</div>
